*.suo
EncogCandleStickExample/bin/
EncogCandleStickExample/obj/
ConsoleExamples/bin/
ConsoleExamples/obj/
OCR/bin/
OCR/obj/
SOMColors/bin/
SOMColors/obj/
EncogCmd/bin/
EncogCmd/obj/
TestResults/
_ReSharper.encog-dotnet-more-examples/

encog-dotnet-more-examples.5.1.ReSharper.user
EncogCmd/VSdoc/EncogCmd.hhc
EncogCmd/VSdoc/encog-core-cs_dyn_help.xml
EncogCmd/VSdoc/msdn2/CFW.gif
EncogCmd/VSdoc/msdn2/collall.gif
SOMColors/SOMColors.csproj.vs10x
ConsoleExamples/ConsoleExamples.csproj.vs10x
OCR/OCR.csproj.vs10x
EncogCmd/VSdoc/unregister_encog-core-cs.bat
EncogCmd/VSdoc/HelixoftHelpReg.exe
EncogCmd/VSdoc/FINAL_CHM_DOC/encog-core-cs.chm
EncogCmd/VSdoc/encog-core-cs.chm
EncogCmd/EncogCmd.csproj.vs10x
encog-core-cs/encog-core-cs.vsdoc
encog-core-cs.5.1.ReSharper.user.orig